@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../../../Universal/Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../../../Universal/Fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../../../Universal/Fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../../../Universal/Fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../../../Universal/Fonts/Roboto/static/Roboto-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../../../Universal/Fonts/Roboto/static/Roboto-Medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SUSE';
    font-style: normal;
    font-weight: 400;
    src: url('../../../Universal/Fonts/SUSE/static/SUSE-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SUSE';
    font-style: normal;
    font-weight: 600;
    src: url('../../../Universal/Fonts/SUSE/static/SUSE-SemiBold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SUSE';
    font-style: normal;
    font-weight: 700;
    src: url('../../../Universal/Fonts/SUSE/static/SUSE-Bold.ttf') format('truetype');
    font-display: swap;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span {
    cursor: default;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.02);
    /* background-color: #0249c4; */
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 65px;
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(4px);
    border-bottom: 1px solid hsl(220 13% 91%);
    z-index: 9999;

    .nav-left {
        position: absolute;
        left: 15px;
        display: flex;
        align-items: center;
        width: 170px;
        height: 75%;
        background-color: transparent;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            border-radius: 12px;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;

                img {
                    width: 95%;
                    height: 95%;
                }
            }
        }

        .up-t {
            position: absolute;
            top: 0.3px;
            right: 0;
            width: calc(100% - 52px);
            height: max-content;

            span {
                display: flex;
                align-items: center;
                text-align: left;
                width: max-content;
                height: 100%;

                font-size: 1.3em;
                font-weight: 1000;
                letter-spacing: 0.5px;
                color: #00338a;
                background-color: transparent;
            }
        }

        .dw-t {
            position: absolute;
            bottom: 3px;
            right: 0;
            width: calc(100% - 52px);
            height: max-content;

            span {
                display: flex;
                align-items: center;
                text-align: left;
                width: max-content;
                height: 100%;
                padding-left: 1.5px;

                font-size: 0.7em;
                font-weight: 500;
                letter-spacing: 0.5px;
                color: #073c97;
                background-color: transparent;
            }
        }
    }

    .nav-mid {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 63%;
        height: 100%;
        background-color: transparent;

        .menu-btn {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: max-content;
            height: 100%;
            background-color: transparent;
            padding: 0 10px;
            gap: 5px;

            transition: all 0.3s ease;

            span {
                font-size: 0.85em;
                letter-spacing: 1px;
                font-weight: 550;
                color: rgba(0, 0, 0, 0.98);
                cursor: pointer;
            }

            .dd-a {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15px;
                height: 15px;
                background-color: transparent;
                margin-top: 1px;

                transition: all 0.3s ease;

                img {
                    rotate: 90deg;
                    width: 17px;
                    height: 17px;

                    transition: all 0.3s ease;
                }
            }

            .menu-dd {
                position: absolute;
                top: 65px;
                left: 0;
                display: none;
                width: 250%;
                height: 150px;
                background-color: #fff;
                border: 1px solid hsl(220 13% 91%);
                border-top: none;
                border-radius: 0 0 3px 3px;

                cursor: default;

                transition: all 0.3s ease;
            }

            &:hover {
                cursor: pointer;
                background-color: hsla(220, 13%, 91%, 0.75);

                span {
                    transition: all 0.5s ease;
                    font-size: 0.9em;
                }

                .menu-dd {
                    display: flex;
                }
            }

            &:not(.about-btn):not(.governance-btn):active {
                transform: scale(0.98);
            }
        }

        .home-btn::after {
            content: '';
            position: absolute;
            bottom: -1.5px;
            display: none;
            width: 100%;
            height: 3px;
            /* background-color: #0249c4; */
            background: linear-gradient(to right, #0249c4, #377bf0);
            border-radius: 5px;
        }

        .about-btn:hover,
        .governance-btn:hover {
            .dd-a {
                margin-top: -1px;

                img {
                    rotate: 270deg;
                }
            }
        }
    }

    .nav-right {
        position: absolute;
        right: 15px;
        display: flex;
        align-items: center;
        width: 230px;
        height: 75%;
        background-color: transparent;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            outline: none;
            border: none;
        }

        .fb {
            position: absolute;
            left: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 36px;
            width: calc(100% - 105px);
            background-color: transparent;
            gap: 12px;
            box-sizing: border-box;

            border-radius: 50px;
            border: 3px solid transparent;

            transition: all 0.2s ease;

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                background-color: transparent;
                margin-top: -1px;

                img {
                    width: 15px;
                    height: 16px;
                    opacity: 0.8;
                }
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: max-content;
                height: max-content;

                font-family: 'Poppins', sans-serif;
                font-size: 12px;
                font-weight: 550;
                letter-spacing: 1px;
                color: rgba(0, 0, 0, 0.85);

                background-color: transparent;

                cursor: pointer;
            }

            &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.1);
            }
        }

        .j-src {
            position: absolute;
            right: 0;
            height: 36px;
            width: 96px;
            background: linear-gradient(to right, #0249c4, #377bf0);
            border-radius: 10px;
            overflow: hidden;

            font-family: 'Montserrat', sans-serif;
            font-size: 13.5px;
            font-weight: 550;
            color: white;

            cursor: pointer;

            transition: all 0.3s ease-in-out;


            &::before {
                content: "";
                position: absolute;
                width: 100px;
                height: 100%;
                background-image: linear-gradient(120deg,
                        rgba(255, 255, 255, 0) 30%,
                        rgba(255, 255, 255, 0.8),
                        rgba(255, 255, 255, 0) 70%);
                top: 0;
                left: -100px;
                opacity: 0.6;
            }

            &:hover {
                transform: scale(1.01);

                &::before {
                    animation: shine 1.8s ease-out infinite;
                }
            }

            &:active {
                transform: scale(0.97);
            }
        }

        .tg-menu {
            position: absolute;
            right: -55px;
            display: none;
            justify-content: center;
            align-items: center;
            width: 38px;
            height: 38px;
            background-color: red;
            border-radius: 10px;
        }
    }
}

@media (max-width: 1250px) {

    .nav-mid {
        display: none !important;
    }

    .nav-right {
        right: 70px !important;

        .tg-menu {
            display: flex !important;
        }
    }

}