.home-post {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    color: hsl(0 0% 98%);
    background-image: linear-gradient(135deg, hsl(200 95% 20%), hsl(200 95% 27%), hsl(45 100% 51%));

    .hp-head {
        position: absolute;
        top: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: max-content;
        height: 100px;
        background-color: transparent;

        h1 {
            font-family: 'Montserrat';
            font-size: 4em;
            font-weight: bolder;
            letter-spacing: 0.5px;
        }
    }

    .hp-sub {
        position: absolute;
        bottom: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 580px;
        height: 100px;
        background-color: transparent;

        p {
            font-size: 1em;
            font-weight: 500;
            line-height: 1.8;
        }
    }
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}